@aaxis:registry=https://pkgs.dev.azure.com/headlesspoc/headlesspoc/_packaging/headlessfeed/npm/registry/

; begin auth token
//pkgs.dev.azure.com/headlesspoc/headlesspoc/_packaging/headlessfeed/npm/registry/:username=headlesspoc
//pkgs.dev.azure.com/headlesspoc/headlesspoc/_packaging/headlessfeed/npm/registry/:_password=c3Z6bGFpZ2xoeWVtcWtmb2dycGh5MzJ0MmR0dmlnbWUzajRxYXpqZmZqY2t5NmdnbWUycQ==
//pkgs.dev.azure.com/headlesspoc/headlesspoc/_packaging/headlessfeed/npm/registry/:email=zacharyhou@aaxiscommerce.com
//pkgs.dev.azure.com/headlesspoc/headlesspoc/_packaging/headlessfeed/npm/:username=headlesspoc
//pkgs.dev.azure.com/headlesspoc/headlesspoc/_packaging/headlessfeed/npm/:_password=c3Z6bGFpZ2xoeWVtcWtmb2dycGh5MzJ0MmR0dmlnbWUzajRxYXpqZmZqY2t5NmdnbWUycQ==
//pkgs.dev.azure.com/headlesspoc/headlesspoc/_packaging/headlessfeed/npm/:email=zacharyhou@aaxiscommerce.com
; end auth token